* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Colors */
:root {
	--white: #fff;
	--blue: #83c6fd;
	--black: #191919;
	--yellow: #fada94;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
	color: var(--blue);
}

button:hover {
	cursor: pointer;
}

.warning {
	color: red;
}

.flex {
	display: flex;
}
.App {
	background-color: #f5f5f8;
}
