.homecard {
	padding: 10px 20px;
	overflow: hidden;
}

.homecard h3 {
	color: black;
	padding-bottom: 10px;
}

.homecard-container {
	height: 50vh;
	overflow-y: auto;
}

.homecard-text {
	margin-top: 20px;
	padding: 20px 30px;
	background-color: var(--blue);
	color: black;
	font-size: 0.9em;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
