.caroussel {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
}

.caroussel h2 {
	padding-bottom: 20px;
}

.carousselCards {
	display: flex;
	justify-content: space-around;
	background-color: var(--blue);
	padding: 20px 25px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carrousselCard-title {
	font-weight: 600;
}
