.productCard {
	display: flex;
	justify-content: center;
	align-items: center;
}
.productCard-container {
	display: flex;
	margin: 30px;
	background-color: #f5f5f8;
	border-radius: 8px;
	padding: 20px 30px;
	max-width: 500px;
}

/* product information */
.productCard .product-info {
	color: slategray;
	font-size: 0.9em;
}
.productCard .product-name {
	font-size: 25px;
	font-weight: 600;
	color: black;
	margin-bottom: 10px;
}

@media (max-width: 650px) {
	.productCard-container {
		flex-direction: column;
	}
	.productCard .product-info div {
		margin-bottom: 6px;
	}
	.productCard .product-info {
		margin-bottom: 20px;
	}
	.productCard .product-name {
		margin-bottom: 20px;
	}
}

@media (min-width: 650px) {
	.productCard-container {
		column-gap: 50px;
	}
	.productCard .product-info div {
		margin-bottom: 6px;
	}
}

.productCard .product-picture {
	position: relative;
}

/* image */
.image-and-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.productCard img {
	width: 148px;
	background-color: blueviolet;
}

.productCard .button-container {
	display: flex;
	justify-content: flex-end;
}
